{%extends 'base.html'%}
{{block.super}
 {% block content %}
 <html>
   <body id="hope" style="background-image:url(https://i.gifer.com/embedded/download/45xt.gif);background-size: cover; background-repeat: no-repeat;">
      <div class="container">
  
          <div class="row">
            <img src="{{image.image.url}}"  class="img-responsive" alt="">
          </div>
          
          <div class="row">
            <h1 class="text-center">{{image.title}}</h1>
            <p></p>
          </div>
       
          <div class="row">
            {% autoescape on %}
            {{image.post| safe}}
           {% endautoescape %}
       
          </div>
       
          
        </div>
       
     
   </body>
   
 </html>


 {% endblock %}