<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg sticky-top scrolling-navbar navbar-light orange lighten-1" style="background-color: teal
;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/register/">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login/">Log in</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
  

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="https://pinimg.icu/wall/0x0/imvu-doll-girly-m-black-girl-art-art-girl-E2077831b8d1910680b646d0faf53f2a7.jpg?t=5cc4bbc36b595" class="rounded-circle z-depth-0"
            alt="avatar image" height="50">
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->