{%extends 'base.html'%}
{{block.super}
 {% block content %}
 

<div class="row" id="test"> 

<div class="col-md-4">
<div class="card-wrapper">
        <div id="card-1" class="card card-rotating text-center">
      
<!-- Card -->
<div class="card promoting-card">

    <!-- Card content -->
    <div class="card-body d-flex flex-row">
  
      <!-- Avatar -->
      <img src="https://avatars3.githubusercontent.com/u/47354971?s=460&v=4" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
  
      <!-- Content -->
      <div>
  
        <!-- Title -->
        <h4 class="card-title font-weight-bold mb-2" style=" font-family: 'Parisienne', cursive; font-size: 2em ">Major Rotich</h4>
        <!-- Subtitle -->
        <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
  
      </div>
  
    </div>
  
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top rounded-0" src="https://cdn-images-1.medium.com/max/1200/1*dVfoat-JetiJaHt2DPDnzg.gif" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <div class="collapse-content">
  
        <!-- Text -->
        <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to the menu of our restaurant. They come from countries such as Mexico, Argentina, and Spain. Come to us, have a delicious wine and enjoy the juicy meals from around the world.</p>
        <!-- Button -->
        <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
        <div class="votes">
            <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
              <strong>Likes</strong><i class="up"></i> <em>{{quote.upVotes}}</em>
            </p>
            <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
              <strong> Dislikes</strong> <i class="down"></i> <em>{{quote.downVotes}}</em>
            </p>
          </div>
        <button id="up" type="button" class="btn" style="background-color: #e83e8c; color: white;
        font-family:  'Cookie', cursive;  margin: 2%; font-size: 1.5em;
  padding: 5px;">Up Vote </button>
        <button id="down" type="button" class="btn" style="background-color: #e83e8c; color: white;
        font-family: 'Cookie', cursive; margin: 2%; font-size: 1.5em;
  padding: 5px;" >Down Vote </button>
  <a href="https://github.com/sirrotich">View Projects</a>
        
        <!-- <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
        <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
   -->
      </div>
  
    </div>
  
  </div>
  <!-- Card -->
      

</div>

    
    
    
          
    </div>

</div>

<div class="col-md-4">
    <div class="card-wrapper">
            <div id="card-1" class="card card-rotating text-center">
          
    <!-- Card -->
    <div class="card promoting-card">
    
        <!-- Card content -->
        <div class="card-body d-flex flex-row">
      
          <!-- Avatar -->
          <img src="https://static.turbosquid.com/Preview/001201/103/MM/3D-mr-krabs---sirigueijo-model_0.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
      
          <!-- Content -->
          <div>
      
            <!-- Title -->
            <h4 class="card-title font-weight-bold mb-2" style=" font-family: 'Parisienne', cursive; font-size: 2em ">Ryan Curtis</h4>
            <!-- Subtitle -->
            <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
      
          </div>
      
        </div>
      
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top rounded-0"  src="https://media.giphy.com/media/FlEiUvY7qPlRK/giphy.gif" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
      
          <div class="collapse-content">
      
            <!-- Text -->
            <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to the menu of our restaurant. They come from countries such as Mexico, Argentina, and Spain. Come to us, have a delicious wine and enjoy the juicy meals from around the world.</p>
            <!-- Button -->
            <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
            <div class="votes">
                <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
                  <strong>Likes</strong><i class="up"></i> <em></em>
                </p>
                <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
                  <strong> Dislikes</strong> <i class="down"></i> <em></em>
                </p>
              </div>
            <button id="up" type="button" class="btn" style="background-color: #e83e8c; color: white;
            font-family:  'Cookie', cursive;  margin: 2%; font-size: 1.5em;
      padding: 5px;">Up Vote </button>
            <button id="down" type="button" class="btn" style="background-color: #e83e8c; color: white;
            font-family: 'Cookie', cursive; margin: 2%; font-size: 1.5em;
      padding: 5px;" >Down Vote </button>
         <a href="https://github.com/ryancurtis998">View Projects</a>
           
            <!-- <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
            <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
       -->
          </div>
      
        </div>
      
      </div>
      <!-- Card -->
          
    
    </div>
    
        
        
        
              
        </div>
    
    </div>

    <div class="col-md-4">
        <div class="card-wrapper">
                <div id="card-1" class="card card-rotating text-center">
              
        <!-- Card -->
        <div class="card promoting-card">
        
            <!-- Card content -->
            <div class="card-body d-flex flex-row">
          
              <!-- Avatar -->
              <img src="https://i3.wp.com/sketch-cloud-storage.s3.amazonaws.com/public_images/963d6551-2098-46bc-9b1d-7e2f1cbae04e" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
          
              <!-- Content -->
              <div>
          
                <!-- Title -->
                <h4 class="card-title font-weight-bold mb-2" style=" font-family: 'Parisienne', cursive; font-size: 2em ">Emma Kibore</h4>
                <!-- Subtitle -->
                <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p> -->
          
              </div>
          
            </div>
          
            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top rounded-0"  src="https://i.pinimg.com/originals/d1/34/49/d13449fb76b34cb71584f5bfb7c6dee9.gif" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <!-- Card content -->
            <div class="card-body">
          
              <div class="collapse-content">
          
                <!-- Text -->
                <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to the menu of our restaurant. They come from countries such as Mexico, Argentina, and Spain. Come to us, have a delicious wine and enjoy the juicy meals from around the world.</p>
                <!-- Button -->
                <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
                <div class="votes">
                    <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
                      <strong>Likes</strong><i class="up"></i> <em></em>
                    </p>
                    <p style="font-family: 'Petit Formal Script', cursive; font-size: 2em;">
                      <strong> Dislikes</strong> <i class="down"></i> <em></em>
                    </p>
                  </div>
                <button id="up" type="button" class="btn" style="background-color: #e83e8c; color: white;
                font-family:  'Cookie', cursive;  margin: 2%; font-size: 1.5em;
          padding: 5px;">Up Vote </button>
                <button id="down" type="button" class="btn" style="background-color: #e83e8c; color: white;
                font-family: 'Cookie', cursive; margin: 2%; font-size: 1.5em;
          padding: 5px;" >Down Vote </button>
             <a href="https://github.com/EmmaKibore">View Projects</a>
               
                <!-- <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
           -->
              </div>
          
            </div>
          
          </div>
          <!-- Card -->
              
        
        </div>
        
            
            
            
                  
            </div>
        
</div>


      {% endblock %}